@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffffff;
  background: #212529;
  /* overflow: hidden; */
  margin: 0;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.gradient-1{
  border-image-source: linear-gradient(90deg, #F5C635 0%, #FFE864 100%);
  border-image-slice: 1;  
}

.gradient-2{
  border-image-source: linear-gradient(270deg, rgba(255, 255, 255, 0.4) -1.33%, rgba(153, 153, 153, 0) 100%);
}
.gradient-3{
  background: linear-gradient(169.7deg, #ECAC1A 7.69%, #FFE864 47.72%, #F5C635 97.84%);
}
.gradient-4{
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}
.gradient-5{
  background: linear-gradient(180deg, rgba(236, 172, 26, 0.1) 0%, rgba(255, 232, 100, 0.1) 100%);
}
.gradient-6{
  background: linear-gradient(180deg, rgba(42, 246, 255, 0.1) 0%, rgba(78, 227, 157, 0.1) 100%);
}
.gradient-7{
  background: linear-gradient(180deg, rgba(42, 246, 255, 0.1) 0%, rgba(148, 174, 255, 0.1) 100%);
}
.gradient-8{
  background: linear-gradient(180deg, rgba(255, 28, 82, 0.1) 0%, rgba(176, 241, 39, 0.1) 100%);
}
.gradient-9 {
  background: 
    /* linear-gradient(90deg, rgba(0, 0, 0, 0.2) 83.01%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(90deg, rgba(245, 198, 53, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),  */
    url('/coin-bg2.png');
}

.gradient-border {
  border: 1px solid transparent;
  border-radius: 50%;
  background: linear-gradient(#333, #333) padding-box, linear-gradient(270deg, rgba(255, 255, 255, 0.4), rgba(153, 153, 153, 0)) border-box;
}

